{% extends 'index.html' %}
{% load staticfiles %}

{% block title %}

<div class="maindiv">
    <form action="" method="POST">
        {% csrf_token %}

        <!-- title部分 -->
        <div class="title">
            <div><strong>購物流程 Shoppingcart</strong></div>
        </div>

        <div class="fin">
            <div class="title2">訂購完成</div>
            <div class="pack">
                <div class="word">感謝您的訂購！！</div>
                <div class="word">親愛的{{ username }}先生/小姐，您已經完成所有訂購程序，我們將盡快把您選購的商品由寄給您！</div>
                <div class="word">再次感謝您對我們的支持，謝謝。</div>
                <div class="word"><a href="/product/order_search">訂單查詢請按此 &#9668 &#9668 &#9668</a></div>
            </div>
        </div>
        <div class="useless"></div>


        
</div>

{% endblock %}

{% block content %}

{% endblock %}