{% extends 'index.html' %}
{% load staticfiles %}

{% block title %}

<div class="box">
    <div class="coll-1">
        <div class="coll-2">

            <!-- l1 顯示購物車內商品數量 -->
            <div class="l1">
                {% if status == 'login' %}
                <a href="/product/cart/">
                    <div>&#x1F6D2&#x1F6D2&#x1F6D2 您目前購物車中有：{{ item_num }}件商品 &#x1F6D2&#x1F6D2&#x1F6D2</div>
                </a>
                {% else %}
                <a href="/user/login/">您尚未登入，登入後立即選購商品！！！</a>
                {% endif %}
            </div>

            <!-- l2 產品title-->
            <div class="l2">
                <p>商品項目</p>
            </div>
            <!-- l3 循環列出所有商品 -->
            <div class="l3">
                
                {% for product in products %}
                <div class="item">
                    <div class="img"><a href=""><img src="{{ product.pimage }}" alt=""></a></div>
                    <div class="txt">
                        <div class="item_name"><a href="">{{ product.pname }}</a></div>
                        <div class="price">售價： $ {{ product.pprice }}元/100g</div>
                        <a href="/product/single/{{ product.id }}" class="btn">前往選購 &#10173;</a>
                    </div>
                </div>
                
                {% empty %}

                {% endfor %}
                
    
            </div>
        </div>
        <div class="coll-3">
            <!-- 相關資訊欄 -->
            <div class="r1">
                <p>資訊中心</p>
            </div>
            <!-- ？？？？？ -->
            <div class="r2">
                {% if status == 'login' %}
                <li><a href="/product/cart/">查看購物車</a></li>
                <li><a href="">訂單查詢</a></li>
                {% else %}
                <li><a href="/user/login/">查看購物車</a></li>
                <li><a href="/user/login/">訂單查詢</a></li>
                {% endif %}
                <li><a href="/">返回首頁</a></li>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block content %}

{% endblock %}