{% extends 'index.html' %}
{% load staticfiles %}

{% block title %}

<div class="maindiv">
    

    <!-- title部分 -->
    <div class="title">
        <div><strong>~~ 常見問題 Q & A ~~</strong></div>
    </div>

    <div class="fin">
        <div class="title2">讓我來回答你</div>
        <div class="pack">
            
            <div class="search2">
                <div class="que"><strong>關於寄送時間</strong></div>
                <div class="ans">有時候老闆下田工作忙，會比較晚看到訂單，所以商品寄出時間可能會在下訂的1~3個工作天內唷。
                    若超過一個禮拜您還未收到商品，麻煩來電提醒一下老闆。</div>

                <div class="que"><strong>關於我們的商品</strong></div>
                <div class="ans">我們的商品都是老闆親自耕種、親自製作，從園子到餐桌一條龍包辦監製，獨特的秘方調配保證大
                    家會喜歡唷。保證絕對不放化學添加物，如果在實用我們的產品時，發現有結晶或是黏稠液體，是屬於正常糖解現象，
                    還請安心食用。</div>

                <div class="que"><strong>付款方式有哪些?</strong></div>
                <div class="ans">目前只有老闆一個人在努力經營，我們目前也只提供貨到付款一種方式，若有麻煩的地方還請多多包含。</div>

                <div class="que"><strong>運費怎麼算?</strong></div>
                <div class="ans">因為目前只提供貨到付款寄送方式，運費部份也是統一酌收100元唷。</div>

                <div class="que"><strong>我想換貨，怎麼處理？</strong></div>
                <div class="ans">若您對我們的商品有任何疑慮，歡迎您與我們聯繫，我們會用心與您商討處理方法。</div>

                <div class="lsque"><strong>若有其他疑問，歡迎電話與我們聯繫，或是寄電子郵件至我們的信箱。</strong></div>
                <div class="ans"></div>
            </div>
            <div class="btn">
                <a href="/">返回首頁</a>
            </div>
                
            
        </div>
    </div>
    <div class="useless"></div>


        
</div>

{% endblock %}

{% block content %}

{% endblock %}